footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #050505;
    border-top: 8px solid #050505;
    height: 50px;
  }

  body {

    background: #050505;
}
#contactPageForm{
  /* padding-top: px; */
  padding-left:40px;
  padding-right: 40px;
  padding-bottom: 20px;
}
